.main-container {
    width: 100vw;
    height: 100vh;
    background: #F0F2F5 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container {
    margin-top: 10vh;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    width: 25em;
    /* height: 27em; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000078;
}

.form-header {
    background: transparent linear-gradient(180deg, #17A9FDC6 0%, #0062E0 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.form-header h1 {
    margin: 0;
    text-align: center;
    font: normal normal normal 35px/47px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.login-container {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container input {
    background: #FFFFFF0D 0% 0% no-repeat padding-box;
    border: 2px solid #1877F2;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    padding-left: 1em;
    font: normal normal normal 15px/17px Arial;
    letter-spacing: 0px;
    color: #0000007A;
    box-sizing: border-box;
}

.login-container p {
    margin-left: 5%;
    margin-bottom: 5px;
    align-self: normal;
    font: normal normal bold 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.password-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-container input {
    background: #FFFFFF0D 0% 0% no-repeat padding-box;
    border: 2px solid #1877F2;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    padding-left: 1em;
    font: normal normal normal 15px/17px Arial;
    letter-spacing: 0px;
    color: #0000007A;
    box-sizing: border-box;
}

.password-container p {
    margin-left: 5%;
    margin-bottom: 5px;
    align-self: normal;
    font: normal normal bold 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.button-container {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    background: #E4E6EB 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 10px;
    width: 50%;
    height: 50px;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.login-form-message {
    text-align: center;
    color: #ff0000;
    margin-top: 0.5em;
    font: normal normal normal 20px Segoe UI;
}

@media only screen and (max-device-width: 640px) {
    .login-form-container {
        margin-top: 5vh;
        padding-bottom: 3vh;
        width: 100vw;
    }

    .form-header {
        width: 100%;
        height: 10vh;
    }

    .form-header h1 {
        font-size: 5vh;
    }

    .login-container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .login-container input {
        height: 6vh;
        font-size: 2.5em;
    }
    
    .login-container p {
        font-size: 3em;
        margin-bottom: 0.6em;
    }
    
    .password-container input {
        height: 6vh;
        font-size: 2.5em;
    }
    
    .password-container p {
        font-size: 3em;
        margin-bottom: 0.6em;
    }
    
    .login-button {
        width: 50%;
        height: 6vh;
        font-size: 4em;
    }

    .login-form-message {
        font-size: 3em;
    }
}