.main-container {
    width: 100vw;
    min-height: 100vh;
    background: #F0F2F5 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 55em;
    /* height: 40vh; */
    margin-top: 1.5vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.user-info-container {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 80%;
    height: 50%;
    display: flex;
}

.user-info {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.user-info h1 {
    font: normal normal 600 40px Segoe UI;
    letter-spacing: 0px;
    color: #1877F2;
}

.user-info p {
    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.user-info a {
    text-decoration: none;
    font: normal normal bold 25px Segoe UI;
    letter-spacing: 0px;
    color: #1877F2;
    margin-top: auto;
}

.user-image {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.user-image img {
    width: 100%;
}

@media only screen and (max-device-width: 640px) {
    main {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .user-info-container {
        width: 60%;
        margin-top: 4em;
        margin-bottom: 5em;
        display: grid;
        flex-direction: column;
        justify-content: center;
    }

    .user-image {
        width: 100%;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .user-image img {
        width: 96%;
    }

    .user-info {
        margin-top: 2em;
        width: auto;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .user-info h1 {
        font-size: 5.5em;
    }

    .user-info p, .user-info a {
        font-size: 3.5em;
    }

    .user-info a {
        margin-top: 1em;
    }

}
