<header>
    <h1>twarzobaza</h1>
</header>
<nav>
    <ul>
        <li>
            <i class="fas fa-home"></i>
            <a href="home">strona główna</a>
        </li>
        <li>
            <i class="fas fa-user"></i>
            <a href="user">konto użytkownika</a>
        </li>
        <li>
            <i class="fas fa-search"></i>
            <a href="search">wyszukaj w bazie</a>
        </li>
        <li>
            <i class="fas fa-chart-bar"></i>
            <a href="statistics">statystyki</a>
        </li>
        <li>
            <i class="fas fa-sign-out-alt"></i>
            <a href="{{ path('app_logout') }}">wyloguj</a>
        </li>
    </ul>
</nav>